*{
    padding:0;
    margin: 0;
}
body,html{
    font-family:"Microsoft YaHei"
}
a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
li,ul{
    list-style: none;
}
.clearfix:after{
    content:'';
    display: block;
}
.clearfix{
    display: inline-block;
}
img{
    border:none;
}
